.markdown-content {
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 1.6; /* Adjust the line height for better readability */
  color: #f1f1f1; /* Set a suitable text color */
  font-family: Arial, sans-serif; /* Change the font family if needed */
}

/* Header styles */
.markdown-content h1 {
  font-size: 2em; /* Customize header sizes */
  margin-bottom: 0.5em;
  font-weight: 700;
}
.markdown-content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
  font-weight: 600;
}
.markdown-content h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}
.markdown-content h4 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.markdown-content h5 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 300;
}
.markdown-content h6 {
  font-size: 0.875em;
  margin-bottom: 0.5em;
  font-weight: 200;
}

/* Paragraph styles */
.markdown-content p {
  font-size: 1.2em;
  margin-bottom: 1em; /* Add spacing between paragraphs */
}

/* Image styles */
.markdown-content img {
  display: block;
  margin: 0 auto; /* Center the image */
  background-color: white; /* White background for the image */
  padding: 10px; /* Optional: Add some padding around the image */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
  max-width: 100%; /* Ensure images do not exceed the container's width */
}

/* List styles */
.markdown-content ul,
.markdown-content ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
  
}
.markdown-content ul li,
.markdown-content ol li {
  margin-bottom: 0.5em;
}

/* Blockquote styles */
.markdown-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  color: #aaa;
  margin-bottom: 1em;
  font-style: italic;
}

/* Code block styles */
.markdown-content pre {
  background-color: #333;
  color: #f1f1f1;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}
.markdown-content code {
  background-color: #333;
  color: #f1f1f1;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

/* Link styles */
.markdown-content a {
  color: #1e90ff; /* Customize link color */
  text-decoration: none;
}
.markdown-content a:hover {
  text-decoration: underline;
}

/* Table styles */
.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
.markdown-content th,
.markdown-content td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}
.markdown-content th {
  background-color: #444;
  color: #fff;
}
.markdown-content tr:nth-child(even) {
  background-color: #333;
}
